.App {
  text-align: center;
  background-image:url('./images/death_star_img.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
}

h1 {
  color: #fed40f;
}




